/* Lost Password CSS  */
/* Created by Rahat Khan Tusar */

.one-form{
    border:1px solid #f1f1f1;
    padding:14px 20px;
    margin: 8px 0;
}


input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  #btn {
    background-color: #7FAD39;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  #btn:hover{
    opacity:0.8;
  }
  